extends ../layout

block content
  h2 Nueva Admisión

  if message
    .alert.alert-danger #{message}
  if success
    .alert.alert-success #{success}

  form(method="POST" action="/admisiones/asignar")
    input(type="hidden" name="paciente_id" value=paciente.id)
    input(type="hidden" name="tipo_admision" value="internacion")
    input(type="text" name="medico_referente" placeholder="Médico referente")
    textarea(name="diagnostico_inicial" placeholder="Diagnóstico inicial")

    select(name="cama_id")
      each cama in camas
        option(value=cama.id) Habitación #{cama.habitacion_numero}, Cama #{cama.cama_numero}

    button.btn.btn-primary(type="submit") Asignar Cama