extends ../layout

block content
  h2 Nueva Admisión

  if error
    .alert.alert-danger #{error}
  if success
    .alert.alert-success #{success}

  form(method="POST" action="/admisiones/asignar")
    input(type="hidden" name="paciente_id" value=paciente.id)
    input(type="hidden" name="sexo" value=paciente.sexo)

    label Selecciona una cama:
    select.form-control(name="cama_id")
      each cama in camas
        option(value=cama.id) Habitación #{cama.habitacion_numero}, Cama #{cama.cama_numero}

    button.btn.btn-primary(type="submit") Asignar Cama