extends ../layout

block content
  .container.mt-4
    h2 Nueva Admisión
    
    if error
      .alert.alert-danger #{error}
    
    form(method="post" action="/admisiones/asignar")
      .mb-3
        label.form-label Paciente
        select.form-select(name="paciente_id" required)
          option(value="") Seleccione un paciente
          each paciente in pacientes
            option(value=paciente.id)= `${paciente.apellido}, ${paciente.nombre}`
      
      .mb-3
        label.form-label Cama Disponible
        select.form-select(name="cama_id" required)
          option(value="") Seleccione una cama
          each cama in camas
            option(value=cama.id)= `Habitación ${cama.habitacion_numero} - Cama ${cama.cama_numero}`
      
      button.btn.btn-primary(type="submit") Registrar Admisión