extends ../layout

block content
  h2 Detalle de Admisión

  if admision
    ul
      li ID: #{admision.id}
      li Paciente: #{admision.nombre} #{admision.apellido}
      li Habitación: #{admision.habitacion_numero}
      li Cama: #{admision.cama_numero}
      li Tipo: #{admision.tipo_admision}
      li Médico referente: #{admision.medico_referente}
      li Diagnóstico inicial: #{admision.diagnostico_inicial}
      li Fecha de ingreso: #{admision.fecha_ingreso}
      li Fecha de cancelación: #{admision.fecha_cancelacion}
  else
    p No hay detalles disponibles

  hr

  a(href="/admisiones") Volver al listado