//- views/admisiones/index.pug

extends ../layout

block content
  h2 Lista de Admisiones
  if admisiones && admisiones.length > 0
    table(border="1")
      thead
        tr
          th ID
          th Paciente ID
          th Cama ID
          th Médico responsable
          th Motivo
          th Estado
      tbody
        each admision in admisiones
          tr
            td= admision.id
            td= admision.paciente_id
            td= admision.cama_id
            td= admision.medico_responsable_id
            td= admision.motivo_internacion
            td= admision.estado
  else
    p No hay admisiones registradas aún.