extends ../layout
block content
  .row
    .col-12
      h1 Lista de Admisiones
      p.text-muted Gestión de admisiones y recepción de pacientes
      
      .mb-3
        a.btn.btn-success(href='/admisiones/nueva') + Nueva Admisión
  .row
    .col-12
      if admisiones && admisiones.length > 0
        .table-responsive
          table.table.table-striped
            thead.table-dark
              tr
                th ID
                th Paciente
                th DNI
                th Fecha Admisión
                th Habitación/Cama
                th Motivo
                th Estado
            tbody
              each admision in admisiones
                tr
                  td= admision.id
                  td= `${admision.nombre} ${admision.apellido}`
                  td= admision.dni
                  td= new Date(admision.fecha_admision).toLocaleDateString('es-AR')
                  td= `${admision.habitacion}-${admision.cama}`
                  td= admision.motivo_internacion
                  td
                    if admision.estado === 'activa'
                      span.badge.bg-success Activa
                    else if admision.estado === 'cancelada'
                      span.badge.bg-danger Cancelada
                    else
                      span.badge.bg-secondary Finalizada
      else
        .alert.alert-info.text-center
          h4 No hay admisiones registradas
          p Comienza creando tu primera admisión
          a.btn.btn-primary(href='/admisiones/nueva') + Nueva Admisión