extends ../layout

block content
  .container.mt-4
    h2 Admisiones Activas
    
    if error
      .alert.alert-danger #{error}
    
    if success
      .alert.alert-success #{success}
    
    table.table.table-striped
      thead
        tr
          th ID
          th Paciente
          th Fecha Ingreso
      tbody
        each adm in admisiones
          tr
            td= adm.id
            td= `${adm.nombre} ${adm.apellido}`
            td= adm.fecha_ingreso.toLocaleDateString('es-AR')
    
    a.btn.btn-success(href="/admisiones/nueva")
      i.bi.bi-plus-circle.me-1
      | Nueva Admisión