extends ../layout

block content
  h1 Listado de Admisiones Activas
  
  if error
    .alert.alert-danger= error
  
  table.table
    thead
      tr
        th ID
        th Paciente
        th Habitación
        th Fecha Admisión
    tbody
      each adm in admisiones
        tr
          td= adm.id
          td= adm.nombre + ' ' + adm.apellido
          td= adm.habitacion
          td= adm.fecha

  a.btn.btn-primary(href="/admisiones/nuevo") Nueva Admisión