extends ../layout

block content
  h2 Listado de Admisiones Activas

  if message
    .alert.alert-danger #{message}

  table.table
    thead
      tr
        th Paciente
        th Habitación
        th Cama
        th Médico Referente
        th Diagnóstico Inicial
        th Fecha Ingreso
    tbody
      each admision in admisiones
        tr
          td= `${admision.paciente_nombre} ${admision.paciente_apellido}`
          td= admision.habitacion_numero
          td= admision.cama_numero
          td= admision.medico_referente
          td= admision.diagnostico_inicial
          td= admision.fecha_ingreso

  a(href="/admisiones/crear") + Nueva Admisión