extends ../layout

block content
  h2 Asignar Cama

  if message
    .alert.alert-danger #{message}
  if success
    .alert.alert-success #{success}

  form(method="POST" action="/admision/asignar")
    input(type="hidden" name="paciente_id" value=paciente.id)

    .form-group
      label Selecciona una cama
      select.form-control(name="cama_id")
        each cama in camas
          option(value=cama.id) Habitación #{cama.habitacion_numero}, Cama #{cama.cama_numero}

    button.btn.btn-primary(type="submit") Asignar Cama