//- views/layout.pug
html
  head
    title= "HIS - Sistema Hospitalario"
    link(rel="stylesheet" href="/styles/style.css")
  body
    header
      h1 Sistema Hospitalario HIS
      nav
        if user
          p ¡Bienvenido, #{user.usuario}! (Rol: #{user.rol})
          a(href="/logout") Cerrar sesión
        else
          a(href="/login") Iniciar sesión

    main
      if error
        .alert.alert-danger #{error}
      if success
        .alert.alert-success #{success}

      block content

    footer
      p Proyecto final – TP1 Programación Web II
      