//- views/signos_vitales/index.pug

extends ../layout

block content
  h2 Signos Vitales Registrados
  if signos && signos.length > 0
    table(border="1")
      thead
        tr
          th Admision ID
          th Presión sistólica
          th Presión diastólica
          th Frecuencia cardíaca
          th Temperatura
          th Saturación
      tbody
        each s in signos
          tr
            td= s.admision_id
            td= s.presion_sistolica
            td= s.presion_diastolica
            td= s.frecuencia_cardiaca
            td= s.temperatura
            td= s.saturacion_oxigeno
  else
    p No hay registros de signos vitales aún.